.card-box{
  background-color: black;
    height: 400px;
    width: 250px;
    box-shadow: 0px 5px 5px 5px rgb(85, 95, 95);
    color: white;
}

.card-box:hover{
    box-shadow: 0px 12px 10px 2px rgb(66, 66, 66);
    scale: 1.015;
    position: relative;
    bottom: 10px;
    transition: 0.5s;
}

.Movie-img{
  width: 100%;
  height: inherit;
  background-size: contain;
  padding: 5px;
  border-radius: 10px;
}

.poster-img{
  width: inherit;
  height: 200px;
  margin: 0px;
}
 p{
  margin: 0px;
 }
 .description{
  font-size: 14px;
 }
 .rating{
  position: relative;
  bottom:0px;
 }