.bg-purple-custom {
  background: linear-gradient(#9d01d1, #b822eb, #9d01d1);
}

.container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  
}

.fluid {
  width: 100%;
}

.brandName {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: 1rem;
}

.btn-round {
  border-radius: 50px;
  background-color: aliceblue;
  padding: auto;
  box-shadow: 0px 2px 2px rgb(0, 0, 0);
  /* size: inherit; */
}
.btn-round:hover {
  background: linear-gradient(
    150deg,
    rgb(0, 255, 0),
    rgb(136, 255, 0),
    rgb(255, 238, 0)
  );
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  scale: 1.1;
  transition: 0.1s;
}

.filter-btn{
  border: 2px solid yellow;
  background-color: transparent;
  box-shadow: 0px 5px 20px 4px #000000;
  font-size: 12px;
  height: auto;
 padding-top: 2px;
 padding-bottom: 2px;
}
.filter-btn:hover{
  background-color: violet;
  border: #9d01d1;
  color: black;
  box-shadow: 0px 6px 6px rgb(0, 0, 0);
}

.input-box{
 border-radius: 50px;
height: 50px;
margin-bottom: 5px;
  box-shadow: 0px 5px 20px 4px #000000;
}
.input-box:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(157, 1, 209, 0.8);
}

@media (max-width: 576px) {
  .flex-wrap-sm {
    flex-wrap: wrap;
  }
}
