.bg-purple-custom {
  background: linear-gradient(#9d01d1, #b822eb, #9d01d1);
}

.container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #9d01d1;
}

.fluid {
  width: 100%;
}

.brandName {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: 1rem;
}

.btn-round {
  border-radius: 50px;
  background-color: aliceblue;
  padding: auto;
  box-shadow: 0px 2px 2px rgb(0, 0, 0);
  /* size: inherit; */
}
.btn-round:hover {
  background: linear-gradient(
    150deg,
    rgb(0, 255, 0),
    rgb(136, 255, 0),
    rgb(255, 238, 0)
  );
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  scale: 1.1;
  transition: 0.1s;
}

